
numpy~=1.23
pandas~=1.4
matplotlib~=3.5
seaborn~=0.11
ipython==8.4.0
tqdm~=4.64.0


albumentations~=1.2
torch==1.12.0
torchvision==0.13.0
timm==0.4.12
segmentation_models_pytorch==0.3.0
torchmetrics~=0.9
pytorch-warmup==0.0.4


clearml~=1.6
termcolor==1.1.0
nvgpu==0.8.0
easydict==1.9
